<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar producto</title>
</head>
<body>
    <h1>Editar producto</h1>
    <form action="/edit/<%= productFound.id %>" method="POST">
        <input type="text" name="nombre" value="<%= productFound.nombre %>" placeholder="Nombre">
        <br>
        <input type="text" name="precio" value="<%= productFound.precio %>" placeholder="Precio">
        <br>
        <input type="text" name="descripcion" value="<%= productFound.descripcion %>" placeholder="Descripcion">
        <br>
        <input type="text" name="marca" value="<%= productFound.marca %>" placeholder="Marca">
        <br>
        <input type="text" name="stock" value="<%= productFound.stock %>" placeholder="Stock">
        <br>
        <button type="submit">Editar producto</button>
    </form>
</body>
</html>